<div data-id="facet">
  <% facets.each do |facet| %>
    <h2 class="mt-2 font-semibold"><%= facet[:label] %><h2>
    <% if facet[:searchable] %>
      <input class="rounded-md py-1 border-indigo-200 mt-2 mb-2" placeholder="search <%= facet[:label]&.downcase %>..." type="text"
        autocomplete="off" onKeydown="handleFacetSearch(this, '<%= j facet[:field] %>')" />
    <% end %>
    <ul data-id="results">
      <% facet[:items].sort_by { |item| -item[:count] }.first(10).each do |item| %>
        <li>
          <label>
            <%= check_box 'filters', facet[:field], { multiple: true, class: 'rounded-sm py-1 border-indigo-200', onchange: 'handleFormSubmit(this)' }, item[:value]&.to_s, nil %>
            <span class="ml-2"><%= item[:label] %><span class="text-gray-400 ml-1 font-light">(<%= number_with_delimiter(item[:count]) %>)</span>
          </label>
        </li>
      <% end %>
    </ul>
    <template>
      <li>
        <label>
          <%= check_box 'filters', '{{ field }}', { multiple: true, class: 'rounded-sm py-1 border-indigo-200', onchange: 'handleFormSubmit(this)' }, '{{ value }}', nil %>
          <span class="ml-2">{{ label }}<span class="text-gray-400 ml-1 font-light">({{ count }})</span>
        </label>
      <li>
    </template>
  <% end %>
</div>
