<div class="px-4">
  <h1 class="py-4 text-4xl">Simple In-Memory Search</h1>
  <%= form_with method: :get do |f| %>
    <%= f.text_field :q, placeholder: 'search', value: params[:q], class: 'rounded-md py-1 border-indigo-200' %>
    <%= f.submit "Search", class: 'border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-1 m-2 transition duration-200 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    <% end %>
  <% end %>

  <p>Searched for "<span class="font-semibold text-indigo-500"><%= params[:q] %></span>" and got <%= @results.count %> records</p>
  <table class="mt-4">
    <thead class="border-2">
      <tr>
        <% @results.first.keys.each do |key| %>
            <th class=""><%= key.titleize %></th>
        <% end %>
      </tr>
    <thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <% result.values.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    <tbody>
  </table>
</div>
