<div class="container">
  <h1 class="">Simple In-Memory Search</h1>
  <%= form_with method: :get do |f| %>
    <%= f.text_field :q, placeholder: 'search', value: params[:q], class: 'rounded-md py-1 border-indigo-200' %>
    <%= f.button :submit, class: 'border border-indigo-500 bg-indigo-500 text-white rounded-md px-2 py-1 m-2 transition duration-200 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="18" style="margin-top: -4px;" viewBox="0 0 24 24" stroke="currentColor" class="inline">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <span>Search</span>
    <% end %>
  <% end %>

  <p>
    Searched for "<span class="font-semibold text-indigo-500"><%= params[:q] %></span>" and got <%= @results.count %> records.
    Sorted by <%= select_tag :sort, options_for_select([['Relevance', '_score_desc'], ['Title A-Z', 'title_asc'], ['Title Z-A'], ['Other', 'other']]), class: 'rounded-md py-1 border-indigo-200' %>
  </p>
  <table class="table-auto mt-4 results">
    <thead class="border-b-2">
      <tr class="mt-2 mb-1">
        <% @results_page.first&.keys&.each do |key| %>
          <th class="px-2 pb-0 text-left font-medium text-gray-900">
            <%= render 'shared/table/sortable_header', key: key %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @results_page.each_with_index do |result, i| %>
        <tr class="">
          <% result.values.each do |value| %>
            <td><%= value&.html_safe %></td>
          <% end %>
        </tr>
      <% end %>
    <tbody>
  </table>

  <div class="flex justify-center mt-4">
    <div class="flex flex-col items-center">
      <% if @pagy.pages > 1 %>
      <div><%== pagy_nav(@pagy) %></div>
      <% end %>
      <div><%== pagy_info(@pagy) %></div>
    </div>
  </div>
</div>
