<!DOCTYPE html>
<html>
  <head>
    <title>RailsSearchMovies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to '/' do %>
        <%= image_tag 'logo.png', style: "height: 50px" %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
